@use "../themeprovider/themeprovider" as theme-provider;

.home-backround {
  background: theme-provider.$main-body-background-color;
}

//Web Title
.web-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;

  //Web Title
  h1 {
    color: theme-provider.$white-color;
    font-size: clamp(1.8rem, 4vw, 2.8rem);
  }

  //Web Logo
  .web-logo {
    position: relative;
    width: clamp(3.5em, 7vw, 5em);
    height: 5em;
    margin-left: 0.8em;
  }

  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    h1 {
      font-size: min(max(1.8rem, 4vw), 2.8rem);
    }

    .web-logo {
      min-width: 3.5em;
      width: 7vw;
      max-width: 5em;
    }
  }
}

//Global Info Title
.global-info-title {
  text-align: center;
  margin-top: 1em;

  h1 {
    font-size: clamp(1.5rem, 4vw, 2.2rem);
    color: theme-provider.$white-color;
  }

  p {
    font-weight: 500;
    color: theme-provider.$white-color;
    font-size: clamp(0.85rem, 1.8vw, 1.1rem);
  }

  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    h1 {
      font-size: min(max(1.5rem, 4vw), 2.2rem);
    }

    p {
      font-size: min(max(0.85rem, 1.8vw), 1.1rem);
    }
  }
}

//Global Info Cards Wrapper
.global-info-content-wrapper {
  display: flex;
  justify-content: center;
  margin: 2.5em 0em;

  .global-info-content {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(1, 1fr);
    width: min(80%, 20em);

    //Confirmed Cases Card
    .global-info-content-card-cases {
      background: theme-provider.$red-background;
      text-align: center;
      padding: 1em;
      border-radius: 15px;

      h1 {
        color: theme-provider.$white-color;
        font-size: min(max(1.2rem, 2vw), 1.8rem);
      }

      p {
        color: theme-provider.$white-color;
        font-size: min(max(1.1rem, 2vw), 1.4rem);
        font-weight: 500;
      }
    }

    //Deaths Card
    .global-info-content-card-deaths {
      background: theme-provider.$orange-background;
      text-align: center;
      padding: 1em;
      border-radius: 15px;

      h1 {
        color: theme-provider.$white-color;
        font-size: min(max(1.2rem, 2vw), 1.8rem);
      }

      p {
        color: theme-provider.$white-color;
        font-size: min(max(1.1rem, 2vw), 1.4rem);
        font-weight: 500;
      }
    }

    //Recovered Card
    .global-info-content-card-recovered {
      background: theme-provider.$green-background;
      text-align: center;
      padding: 1em;
      border-radius: 15px;

      h1 {
        color: theme-provider.$white-color;
        font-size: min(max(1.2rem, 2vw), 1.8rem);
      }

      p {
        color: theme-provider.$white-color;
        font-size: min(max(1.1rem, 2vw), 1.4rem);
        font-weight: 500;
      }
    }
  }
}

@media (min-width: theme-provider.$media-query-normal-value) {
  .web-title {
    margin-top: 1.3em;
  }

  .global-info-title {
    margin-top: 2em;
  }

  .global-info-content-wrapper {
    margin: 3em;

    .global-info-content {
      grid-gap: 3em;
      grid-template-columns: repeat(3, 1fr);
      width: auto;
    }
  }
}
