.navbar-wrapper {
  background: #4b3d60;
  padding: 1em;
  display: flex;
  justify-content: center;
}
.navbar-wrapper a {
  margin: 0em 1em;
}
.navbar-wrapper a .navbar-icon {
  color: #fff;
  font-size: 3.5rem;
  transition: color 0.4s ease-in-out;
}
.navbar-wrapper a .navbar-icon:hover {
  color: #00e68a;
}
.navbar-wrapper a .navbar-icon-active {
  color: #00e68a;
  font-size: 3.5rem;
  transition: color 0.4s ease-in-out;
}

@media (min-width: 35em) {
  .navbar-wrapper a {
    margin: 0em 2em;
  }
}
.home-backround {
  background: #232528;
}

.web-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
}
.web-title h1 {
  color: #fff;
  font-size: clamp(1.8rem, 4vw, 2.8rem);
}
.web-title .web-logo {
  position: relative;
  width: clamp(3.5em, 7vw, 5em);
  height: 5em;
  margin-left: 0.8em;
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .web-title h1 {
    font-size: min(max(1.8rem, 4vw), 2.8rem);
  }
  .web-title .web-logo {
    min-width: 3.5em;
    width: 7vw;
    max-width: 5em;
  }
}

.global-info-title {
  text-align: center;
  margin-top: 1em;
}
.global-info-title h1 {
  font-size: clamp(1.5rem, 4vw, 2.2rem);
  color: #fff;
}
.global-info-title p {
  font-weight: 500;
  color: #fff;
  font-size: clamp(0.85rem, 1.8vw, 1.1rem);
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .global-info-title h1 {
    font-size: min(max(1.5rem, 4vw), 2.2rem);
  }
  .global-info-title p {
    font-size: min(max(0.85rem, 1.8vw), 1.1rem);
  }
}

.global-info-content-wrapper {
  display: flex;
  justify-content: center;
  margin: 2.5em 0em;
}
.global-info-content-wrapper .global-info-content {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(1, 1fr);
  width: min(80%, 20em);
}
.global-info-content-wrapper .global-info-content .global-info-content-card-cases {
  background: #ba292e;
  text-align: center;
  padding: 1em;
  border-radius: 15px;
}
.global-info-content-wrapper .global-info-content .global-info-content-card-cases h1 {
  color: #fff;
  font-size: min(max(1.2rem, 2vw), 1.8rem);
}
.global-info-content-wrapper .global-info-content .global-info-content-card-cases p {
  color: #fff;
  font-size: min(max(1.1rem, 2vw), 1.4rem);
  font-weight: 500;
}
.global-info-content-wrapper .global-info-content .global-info-content-card-deaths {
  background: #e15d3a;
  text-align: center;
  padding: 1em;
  border-radius: 15px;
}
.global-info-content-wrapper .global-info-content .global-info-content-card-deaths h1 {
  color: #fff;
  font-size: min(max(1.2rem, 2vw), 1.8rem);
}
.global-info-content-wrapper .global-info-content .global-info-content-card-deaths p {
  color: #fff;
  font-size: min(max(1.1rem, 2vw), 1.4rem);
  font-weight: 500;
}
.global-info-content-wrapper .global-info-content .global-info-content-card-recovered {
  background: #00897b;
  text-align: center;
  padding: 1em;
  border-radius: 15px;
}
.global-info-content-wrapper .global-info-content .global-info-content-card-recovered h1 {
  color: #fff;
  font-size: min(max(1.2rem, 2vw), 1.8rem);
}
.global-info-content-wrapper .global-info-content .global-info-content-card-recovered p {
  color: #fff;
  font-size: min(max(1.1rem, 2vw), 1.4rem);
  font-weight: 500;
}

@media (min-width: 45em) {
  .web-title {
    margin-top: 1.3em;
  }

  .global-info-title {
    margin-top: 2em;
  }

  .global-info-content-wrapper {
    margin: 3em;
  }
  .global-info-content-wrapper .global-info-content {
    grid-gap: 3em;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }
}
.covid-info-background {
  background: #232528;
}

.covid-info-title {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.covid-info-title h1 {
  color: #fff;
  font-size: clamp(1.6rem, 4vw, 2.5rem);
  text-align: center;
  margin: 0em 1em;
}
.covid-info-title .covid-info-logo {
  position: relative;
  width: clamp(3.2em, 7vw, 4.5em);
  height: 5em;
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .covid-info-title h1 {
    font-size: min(max(1.6rem, 4vw), 2.5rem);
  }
  .covid-info-title .covid-info-logo {
    min-width: 3.2em;
    width: 7vw;
    max-width: 4.5em;
  }
}

.covid-info-input-form {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.covid-info-country-result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 2em;
  margin: 2em 4em;
}
.covid-info-country-result .covid-info-country-result-card {
  background: #37474f;
  color: #fff;
  padding: 1em;
  font-size: 1.3rem;
  font-weight: 500;
  transition: background 0.5s ease-in-out;
}
.covid-info-country-result .covid-info-country-result-card:hover {
  background: #495f69;
}

@media (min-width: 40em) {
  .covid-info-title {
    flex-direction: row;
    margin-top: 1.5em;
  }
  .covid-info-title h1 {
    margin: 0em;
  }
  .covid-info-title .covid-info-logo {
    margin-left: 0.8em;
  }

  .covid-info-input-form {
    margin-top: 2em;
  }
}
.country-cases-info-background {
  background: #232528;
}

.back-button {
  color: #fff;
  font-size: 2.3rem;
  transition: color 0.5s ease-in-out;
  margin: 0.4em 0em 0em 0.4em;
}
.back-button:hover {
  color: #d9d9d9;
}

.country-cases-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.country-cases-title h1 {
  color: #fff;
  font-size: clamp(1.5rem, 2.3vw, 2.2rem);
}
.country-cases-title p {
  color: #fff;
  font-size: clamp(0.9rem, 1.3vw, 1.1rem);
  font-weight: 500;
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .country-cases-title h1 {
    font-size: min(max(1.5rem, 2.3vw), 2.2rem);
  }
  .country-cases-title p {
    font-size: min(max(0.9rem, 1.3vw), 1.1rem);
  }
}

.country-cases-info-wrapper {
  display: flex;
  justify-content: center;
  margin: 2em 2em 3em 2em;
}
.country-cases-info-wrapper .country-cases-info-content {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-cases {
  background: #ba292e;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-cases h1 {
  color: #fff;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-cases p {
  color: #fff;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-cases h1 {
    font-size: min(max(1.2rem, 2vw), 1.5rem);
  }
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-cases p {
    font-size: min(max(0.9rem, 1.5vw), 1.1rem);
  }
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-deaths {
  background: #e15d3a;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-deaths h1 {
  color: #fff;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-deaths p {
  color: #fff;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-deaths h1 {
    font-size: min(max(1.2rem, 2vw), 1.5rem);
  }
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-deaths p {
    font-size: min(max(0.9rem, 1.5vw), 1.1rem);
  }
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-recovered {
  background: #00897b;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-recovered h1 {
  color: #fff;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-recovered p {
  color: #fff;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-recovered h1 {
    font-size: min(max(1.2rem, 2vw), 1.5rem);
  }
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-recovered p {
    font-size: min(max(0.9rem, 1.5vw), 1.1rem);
  }
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-population {
  background: #3a435e;
  padding: 1em;
  text-align: center;
  border-radius: 10px;
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-population h1 {
  color: #fff;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}
.country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-population p {
  color: #fff;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-population h1 {
    font-size: min(max(1.2rem, 2vw), 1.5rem);
  }
  .country-cases-info-wrapper .country-cases-info-content .country-cases-info-card-population p {
    font-size: min(max(0.9rem, 1.5vw), 1.1rem);
  }
}

@media (min-width: 40em) {
  .country-cases-info-wrapper {
    margin: 2.5em 2em 3em 2em;
  }
  .country-cases-info-wrapper .country-cases-info-content {
    grid-gap: 3em;
    grid-template-columns: repeat(2, 1fr);
  }
}
.country-lists-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 3em;
}
.country-lists-title h1 {
  color: #fff;
  margin-bottom: 0.2em;
}

.country-list-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.country-list-card-wrapper .country-list-card {
  background: #37474f;
  padding: 1.3em;
  text-align: center;
  margin-bottom: 2.5em;
  width: min(80%, 25em);
  border-left: 10px solid #009fff;
}
.country-list-card-wrapper .country-list-card h1 {
  color: #fff;
  font-size: clamp(1.5rem, 2.2vw, 2rem);
  line-height: 1.2em;
  margin-bottom: 0.7em;
}
.country-list-card-wrapper .country-list-card .country-list-card-title {
  color: #fff;
  margin-top: 0.5em;
  font-weight: 500;
  font-size: clamp(1.2rem, 1.5vw, 1.4rem);
}
.country-list-card-wrapper .country-list-card .country-list-card-content {
  color: #fff;
  margin-bottom: 0.5em;
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .country-list-card-wrapper .country-list-card h1 {
    font-size: min(max(1.5rem, 2.2vw), 2rem);
  }
  .country-list-card-wrapper .country-list-card .country-list-card-title {
    font-size: min(max(1.2rem, 1.5vw), 1.4rem);
  }
  .country-list-card-wrapper .country-list-card .country-list-card-content {
    font-size: min(max(1rem, 1.5vw), 1.2rem);
  }
}

.country-modal-backdrop {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
}

.country-modal-wrapper {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: min(80%, 20em);
}
.country-modal-wrapper .country-modal-content {
  background: #37474f;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.5);
}
.country-modal-wrapper .country-modal-content h1 {
  color: #fff;
  font-size: clamp(1.4rem, 2.2vw, 1.8rem);
  line-height: 1.3em;
}
.country-modal-wrapper .country-modal-content .country-modal-label {
  color: #fff;
  margin-top: 1em;
  font-size: clamp(1.1rem, 1.4vw, 1.3rem);
  font-weight: 500;
}
.country-modal-wrapper .country-modal-content .country-modal-text-amount {
  color: #fff;
  font-size: clamp(0.9rem, 1.5vw, 1.1rem);
}
@supports not (font-size: clamp(1rem, 1vw, 1rem)) {
  .country-modal-wrapper .country-modal-content h1 {
    font-size: min(max(1.4rem, 2.2vw), 1.8rem);
  }
  .country-modal-wrapper .country-modal-content .country-modal-label {
    font-size: min(max(1.1rem, 1.4vw), 1.3rem);
  }
  .country-modal-wrapper .country-modal-content .country-modal-text-amount {
    font-size: min(max(0.9rem, 1.5vw), 1.1rem);
  }
}

/*# sourceMappingURL=Home.module.css.map */
