@use "../themeprovider/themeprovider" as theme-provider;

.vaccine-cases-info-background {
  background: theme-provider.$main-body-background-color;
}

//While Loading Data
.vaccine-loading-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em;

  .vaccine-loading-content {
    background: theme-provider.$card-color;
    width: min(80%, 25em);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;

    h1 {
      color: theme-provider.$white-color;
      margin-top: 0.8em;
      font-size: min(max(1.5rem, 2.5vw), 2rem);
    }
  }
}

//Error Loading Data
.vaccine-error-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 3em;

  .vaccine-error-content {
    text-align: center;
    background: theme-provider.$red-background;
    padding: 2em;
    width: min(80%, 25em);

    h1 {
      color: theme-provider.$white-color;
      font-size: min(max(1.5rem, 2.5vw), 2rem);
    }
  }
}

.vaccine-back-button {
  color: theme-provider.$white-color;
  font-size: 2.3rem;
  transition: color 0.5s ease-in-out;
  margin: 0.4em 0em 0em 0.4em;
  cursor: pointer;

  &:hover {
    color: theme-provider.$white-color-hover;
  }
}

.vaccine-cases-title {
  text-align: center;

  h1 {
    color: theme-provider.$white-color;
    font-size: clamp(1.5rem, 2.3vw, 2.2rem);
  }

  p {
    color: theme-provider.$white-color;
    font-size: clamp(0.9rem, 1.3vw, 1.1rem);
    font-weight: 500;
  }

  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    h1 {
      font-size: min(max(1.5rem, 2.3vw), 2.2rem);
    }

    p {
      font-size: min(max(0.9rem, 1.3vw), 1.1rem);
    }
  }
}

.country-vaccine-info-wrapper {
  display: flex;
  justify-content: center;
  margin: 2em 2em 3em 2em;

  .country-vaccine-info-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;

    //Administered
    .country-vaccine-info-card-administered {
      background: theme-provider.$darkened-light-green;
      padding: 1em;
      text-align: center;
      border-radius: 10px;

      h1 {
        color: theme-provider.$white-color;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
      }

      p {
        color: theme-provider.$white-color;
        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
      }

      @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
        h1 {
          font-size: min(max(1.2rem, 2vw), 1.5rem);
        }

        p {
          font-size: min(max(0.9rem, 1.5vw), 1.1rem);
        }
      }
    }

    //Vaccinated
    .country-vaccine-info-card-vaccinated {
      background: theme-provider.$light-purple;
      padding: 1em;
      text-align: center;
      border-radius: 10px;

      h1 {
        color: theme-provider.$white-color;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
      }

      p {
        color: theme-provider.$white-color;
        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
      }

      @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
        h1 {
          font-size: min(max(1.2rem, 2vw), 1.5rem);
        }

        p {
          font-size: min(max(0.9rem, 1.5vw), 1.1rem);
        }
      }
    }

    //Partially Vaccinated
    .country-vaccine-info-card-partially-vaccinated {
      background: theme-provider.$light-water-blue;
      padding: 1em;
      text-align: center;
      border-radius: 10px;

      h1 {
        color: theme-provider.$white-color;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
      }

      p {
        color: theme-provider.$white-color;
        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
      }

      @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
        h1 {
          font-size: min(max(1.2rem, 2vw), 1.5rem);
        }

        p {
          font-size: min(max(0.9rem, 1.5vw), 1.1rem);
        }
      }
    }

    //Population
    .country-vaccine-info-card-population {
      background: theme-provider.$lighted-dark-blue-background;
      padding: 1em;
      text-align: center;
      border-radius: 10px;

      h1 {
        color: theme-provider.$white-color;
        font-size: clamp(1.2rem, 2vw, 1.5rem);
      }

      p {
        color: theme-provider.$white-color;
        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
      }

      @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
        h1 {
          font-size: min(max(1.2rem, 2vw), 1.5rem);
        }

        p {
          font-size: min(max(0.9rem, 1.5vw), 1.1rem);
        }
      }
    }
  }
}

@media (min-width: theme-provider.$media-query-small-value) {
  .country-vaccine-info-wrapper {
    margin: 2.5em 2em 3em 2em;

    .country-vaccine-info-content {
      grid-gap: 3em;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
