$nav-background-color: #4b3d60;

$main-body-background-color: #232528;

$backdrop-background: hsla(0, 0%, 0%, 0.4);

$card-color: #37474f;

$card-color-hover: hsl(200, 18%, 35%);

$white-background-color: #fff;

$gray-background-color: #d0ccd0;

$red-background: #ba292e;

$orange-background: #e15d3a;

$green-background: #00897b;

$lighted-dark-blue-background: #3a435e;

$light-blue-background: #009fff;
